* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.game-window {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.grid {
  --size: 300px;
  display: flex;
  flex-wrap: wrap;
  width: var(--size);
  height: var(--size);

}

.cell {
  border: 1px solid #090040;
}
